footer class="page-footer light-blue darken-4"
	.container
		.row
			.col.s12.m8 You are an administrator.
			.col.s12.m4.right-align = link_to '🔗 Administration panel', admin_index_path, class: 'black-text'
