link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"

link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=gAEKWeAee7"
link rel="icon" type="image/png" href="/favicon-32x32.png?v=gAEKWeAee7" sizes="32x32"
link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=gAEKWeAee7" sizes="192x192"
link rel="icon" type="image/png" href="/favicon-16x16.png?v=gAEKWeAee7" sizes="16x16"
link rel="manifest" href="/manifest.json?v=gAEKWeAee7"
link rel="mask-icon" href="/safari-pinned-tab.svg?v=gAEKWeAee7" color="#5bbad5"
link rel="shortcut icon" href="/favicon.ico?v=gAEKWeAee7"
meta name="apple-mobile-web-app-title" content="GE Inventory"
meta name="application-name" content="GE Inventory"
meta name="theme-color" content="#ffffff"

meta name="viewport" content="width=device-width, initial-scale=1"